*{
  background-color:rgb(201,206,206);
  font-family:"Old Standard TT", "EB Garamond", "Times New Roman", serif;
  color:black;
}

#help{
	color:black;
	background-color:white;
}

#links{
  background-color:rgb(167,174,176);
  height:auto;
  width:190px;
  border:10px solid rgb(167,174,176);
  border-radius:20px;
}

a{
	/*background-color:transparent;*/
}

a:visited{
  color:rgb(80,74,69);
}
