@font-face {
  font-family: 'Friz Quadrata Std';
  src: url('./assets/fonts/FRIZ QUADRATA STD REGULAR.OTF');
}

@font-face {
  font-family: 'Sina Nova';
  src: url('./assets/fonts/SINA NOVA W01 REGULAR.OTF');
}

@font-face {
  font-family: 'Plantin';
  src: url(./assets/fonts/PlantinMTProRg.ttf);
}

@font-face {
  font-family: 'Plantin';
  font-style: italic;
  src: url(./assets/fonts/PlantinMTProRgIt.ttf);
}

@font-face {
  font-family: 'Plantin';
  font-weight: bold;
  src: url(./assets/fonts/PlantinMTProBold.ttf);
}

@font-face {
  font-family: 'Plantin';
  font-weight: 600;
  src: url(./assets/fonts/PlantinMTProSmBd.ttf);
}

* {
  font-family: Plantin, Sina Nova, Palatino, serif;
  color:white;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Friz Quadrata Std, Sina Nova, serif;
  font-weight:normal;
  text-shadow: 0 0 2px black;
}

h1 {
  font-variant: small-caps;
  font-size:2.667rem;
  text-shadow: 0 0 10px black
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.66667rem;
}

h4 {
  font-size: 1.5rem
}

h5 {
  font-size: 1.41667rem;
}

h6 {
  font-size: 1.66667rem;
}

body {
  margin:0;
  background:black 0px 0px/100% repeat-y;
}

p,a {
  font-size:1.25rem;
}

a:hover {
  color:#8bf;
  filter:none;
}

a:active {
  color:#38f
}
